config SDCARD_FS
	tristate "sdcard file system"
	depends on CONFIGFS_FS
	default n
	help
	  Sdcardfs is based on Wrapfs file system.

config SDCARD_FS_FADV_NOACTIVE
	bool "sdcardfs fadvise noactive support"
	depends on FADV_NOACTIVE
	default y
	help
	  Sdcardfs supports fadvise noactive mode.

config SDCARD_FS_LOCKER
	bool "sdcardfs locker folder support"
	depends on SDCARD_FS
	default n
	help
	  Sdcardfs supports locker folder.

config SDCARD_FS_LOCKER_NAME
	string "sdcardfs locker folder name"
	depends on SDCARD_FS_LOCKER
	default "Locker"
	help
	  Sdcardfs locker folder name.
